body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#root {
    width: 500px;
}

@media (max-width: 1024px) {
    div {
        font-size: 16px;
        padding: 15px;
        max-width: 90%;
    }
}

/* Celular (largura máxima de 768px) */
@media (max-width: 768px) {
    div {
        font-size: 14px;
        padding: 10px;
        max-width: 95%;
        flex-direction: column;
        /* caso esteja usando flex */
        text-align: center;
        /* opcional, dependendo do layout */
    }
}